<div class="w-screen bg-slate-200 h-full">
  <div
    class="h-full flex flex-col items-center justify-center px-12 lg:px-40 py-8"
  >
    <h2 class="font-bold text-2xl sm:text-3xl text-center text-slate-600 mb-4">
      Sistema de inventario
    </h2>

    <div class="w-4/5 overflow-auto rounded-lg shadow hidden md:block">
      <table class="w-full">
        <thead class="bg-slate-600 border-b-2 border-gray-200 text-white">
          <tr>
            <th class="p-3 w-20 text-sm font-semibold tracking-wide text-center">
              Id
            </th>
            <th class="p-3 text-sm font-semibold tracking-wide text-center">
              Description
            </th>
            <th class="p-3 w-30 text-sm font-semibold tracking-wide text-center">
              Price
            </th>
            <th class="p-3 w-28 text-sm font-semibold tracking-wide text-center">
              Stock
            </th>
            <th class="p-3 w-28 text-sm font-semibold tracking-wide text-center">
              Opciones
            </th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-100">
          <tr class="bg-gray-50" *ngFor="let product of products">
            <th class="p-3 text-sm text-gray-700 whitespace-nowrap">
              <a href="#" class="font-bold text-blue-500 hover:underline">{{
                product.idProduct
              }}</a>
            </th>
            <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
              {{ product.description }}
            </td>
            <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
              ${{ product.price }}
            </td>
            <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
              {{ product.stock }}
            </td>
            <td class="flex flex-row items-center justify-center p-1 gap-1">
              <button
                (click)="editProduct(product.idProduct)"
                class="bg-orange-300 hover:bg-orange-200 duration-200 ease-in-out text-black text-sm font-bold py-1 px-3 rounded-lg"
              >
                Editar
              </button>
              <button
                (click)="deleteProduct(product.idProduct)"
                class="bg-rose-600 hover:bg-rose-500 duration-200 ease-in-out text-white text-sm font-bold py-1 px-3 rounded-lg"
              >
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div
      class="w-2/3 overflow-auto sm:w-full grid grid-cols-1 sm:grid-cols-2 gap-4 md:hidden"
    >
      <div
        class="bg-white space-y-3 p-4 rounded-lg shadow"
        *ngFor="let product of products"
      >
        <div class="flex flex-col items-start text-sm">
          <div>
            <div class="text-blue-500 font-bold hover:underline">
              {{ product.idProduct }}
            </div>
          </div>
          <div class="text-base font-semibold">{{ product.description }}</div>
        </div>
        <div class="text-sm font-medium text-black">${{ product.price }}</div>
        <div class="text-sm font-medium text-black">{{ product.stock }}</div>
      </div>
    </div>
  </div>
</div>
